* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #e8e1d0;
}

/*=========================== BOTON AYUDA ===========================*/
.botonAyuda {
  position: fixed;
  bottom: 0;
  right: 0;
}
.botonAyuda .fotoBotonAyuda {
  transition: 0.5s;
}
.botonAyuda .fotoBotonAyuda:hover {
  width: 115px;
}

/*=========================== ESTILOS HEADER ===========================*/
header {
  display: flex;
}
header .header__navbar {
  background: rgb(156, 184, 187);
  border-radius: 15px;
  width: 100%;
  margin: 1%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
header .header__navbar .header__navbar__list {
  font-size: 15px;
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
  background: rgb(156, 184, 187);
  justify-content: flex-end;
  width: 100%;
}
header .header__navbar .header__navbar__list .header__navbar__list--item--link {
  color: #274447;
  text-decoration: none;
  padding: 0.7rem;
}
header .header__navbar .header__navbar__list .header__navbar__list--item--link:hover {
  color: #e8e1d0;
}
header .header__navbar .header__navbar__list .paginaActual {
  color: #e8e1d0;
}

/*=========================== PAGINA INDEX ===========================*/
/*GALERIA DE FOTOS SLIDE -------------------------------------------------*/
.imagenCarrusel {
  width: 450px;
}

/*PROMOS -------------------------------------------------*/
.tituloPromos {
  font-family: "Lilita One", cursive;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  color: #204349;
  padding: 1%;
  margin: 2% 0 2% 2%;
}

.galeriaPromos {
  margin: 0 3% 3% 3%;
  display: flex;
  overflow-x: scroll;
}
.galeriaPromos::-webkit-scrollbar {
  height: 0.8rem;
}
.galeriaPromos::-webkit-scrollbar-thumb {
  background-color: #384547;
}
.galeriaPromos .galeriaPromosHijos {
  min-width: 250px;
  height: 300px;
}
.galeriaPromos .galeriaPromosHijos .imagenHijos {
  width: 220px;
}

/*MOSTRADOR -------------------------------------------------*/
.mostradorPrincipal {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  background-color: #96A4BC;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mostradorPrincipal .seccionesArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.mostradorPrincipal .seccionesArea .imgMostradorPrincipal {
  width: 100%;
}
.mostradorPrincipal .seccionesArea .titulosVerMas {
  font-size: 70px;
  font-family: roboto-regular;
  font-weight: bold;
}
.mostradorPrincipal .seccionesArea .botonVerMas {
  text-decoration: none;
  text-transform: none;
  background-color: #000;
  color: whitesmoke;
  border-radius: 12px;
  padding: 5px 15px;
  font-size: 20px;
  font-family: "Saira Condensed", sans-serif;
}
.mostradorPrincipal .seccionesArea .botonVerMas:hover {
  background-color: whitesmoke;
  color: #000;
}

/*=========================== ESTILOS FOOTER ===========================*/
footer {
  background-color: #96B7BC;
  padding-top: 1%;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15rem;
  grid-area: footer;
}
footer .footerInfo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  padding: 1rem;
  grid-area: footerInfo;
}
footer .footerInfo .footerInfoLetra {
  font-size: 20px;
  font-weight: bold;
}
footer .footerInfo .footerInfoCopyright {
  font-size: 15px;
}
footer .footerRedes {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  grid-area: footerRedes;
}
footer .footerRedes .footerRedesImagen {
  margin: 10px;
  width: 40px;
}
footer .footerRedes .footerRedesImagen:hover {
  box-shadow: 2px 5px 10px #000;
  border-radius: 100px;
}

/*========================= PAGINAS PARTICULARES =============================*/
/*GALERIA DE FOTOS PARTICULAR-------------------------------------------------*/
.galeriaParticular {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}
.grid-container img {
  width: 100%;
  height: auto;
}

/*TITULO DE CATEGORIA -------------------------------------------------*/
.tituloParticular {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: -1rem;
  background-color: #96A4BC;
}
.tituloParticular h2 {
  color: #274447;
  font-size: 50px;
  font-family: "Lilita One", cursive;
}

/*GALERIA DE PRODUCTOS-------------------------------------------------*/
.galeriaProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.5rem;
  justify-content: left;
}
.galeriaProductos .productoIndividual {
  margin: 1rem;
}
.galeriaProductos .productoIndividual:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*=========================== PAGINA CONTACTO ===========================*/
.contenedorContacto {
  width: 100%;
  display: grid;
  grid-template-columns: 4.5fr 2.5fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "cuadroMail preguntasFrecuentes" "cuadroMail aclaraciones" "footer footer";
}
.contenedorContacto .cuadroMail {
  grid-area: cuadroMail;
}
.contenedorContacto .cuadroMail .tituloConsultas {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  font-weight: bold;
  color: #274447;
  margin: 2rem;
  margin-top: 2rem;
  font-size: 30px;
}
.contenedorContacto .cuadroMail form {
  font-family: "Bree Serif", serif;
  font-size: 18px;
  background-color: #7d969b;
  margin: 2rem;
  border: 2px solid #274447;
  border-radius: 10px;
  width: 85%;
  padding: 30px;
  box-shadow: 2px 5px 10px #000;
}
.contenedorContacto .cuadroMail form .titulosFormulario {
  display: flex;
  width: auto;
  text-align: left;
  padding-bottom: 10px;
}
.contenedorContacto .cuadroMail form .controles {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #274447;
  margin-bottom: 10px;
  font-size: 16px;
}
.contenedorContacto .cuadroMail form .controles:hover {
  background-color: beige;
}
.contenedorContacto .cuadroMail form textarea {
  height: 90px;
  resize: none;
}
.contenedorContacto .cuadroMail form button {
  width: auto;
  background-color: grey;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  font-family: "Bree Serif", serif;
}
.contenedorContacto .cuadroMail form button:hover {
  background-color: white;
  color: #000;
}
.contenedorContacto .preguntasFrecuentes {
  grid-area: preguntasFrecuentes;
  margin-top: 6rem;
  height: 75%;
  padding: 1rem;
  margin-right: 1rem;
  color: #2f342f;
  background-color: #7d969b;
  text-align: center;
  border-radius: 50px;
}
.contenedorContacto .preguntasFrecuentes .preguntasFrecuentes__titulo {
  font-family: "Saira Condensed", sans-serif;
  color: #fcf4f5;
}
.contenedorContacto .aclaraciones {
  grid-area: aclaraciones;
  height: 100%;
  padding: 1rem;
  margin-right: 1rem;
  color: #2f342f;
  background-color: #7d969b;
  text-align: center;
  border-radius: 50px;
}
.contenedorContacto .aclaraciones .aclaraciones__titulo {
  font-family: "Saira Condensed", sans-serif;
  color: #fcf4f5;
}

/*=========================== MEDIA QUERIE ===========================*/
@media screen and (min-width: 992px) {
  .header__navbar {
    height: 70px;
  }
}
@media screen and (max-width: 1000px) {
  .contenedorContacto {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "cuadroMail" "preguntasFrecuentes" "aclaraciones" "footer";
  }
  .contenedorContacto .tituloConsultas {
    font-size: 25px;
  }
  .contenedorContacto .preguntasFrecuentes {
    margin: 1rem;
    height: auto;
  }
  .contenedorContacto .aclaraciones {
    margin: 1rem;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .tituloPromos {
    font-size: 22px;
    background-color: #83A0A5;
    margin: 2% 0 2% 0;
  }
  .galeriaPromos .galeriaPromosHijos {
    min-width: 240px;
    height: 265px;
  }
  .galeriaPromos .galeriaPromosHijos .imagenHijos {
    width: 200px;
  }
  .mostradorPrincipal {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "mostradorFotoCocina" "mostradorFotoVasos" "mostradorFotoBotellas" "mostradorFotoDecoracion" "mostradorFotoLibreria" "mostradorFotoInfantil" "mostradorFotoMate";
  }
  .mostradorPrincipal .mostradorFotoCocina {
    grid-area: mostradorFotoCocina;
  }
  .mostradorPrincipal .mostradorFotoVasos {
    grid-area: mostradorFotoVasos;
  }
  .mostradorPrincipal .mostradorFotoBotellas {
    grid-area: mostradorFotoBotellas;
  }
  .mostradorPrincipal .mostradorFotoDecoracion {
    grid-area: mostradorFotoDecoracion;
  }
  .mostradorPrincipal .mostradorFotoLibreria {
    grid-area: mostradorFotoLibreria;
  }
  .mostradorPrincipal .mostradorFotoInfantil {
    grid-area: mostradorFotoInfantil;
  }
  .mostradorPrincipal .mostradorFotoMate {
    grid-area: mostradorFotoMate;
  }
  .footerLogo {
    width: 80px;
  }
  .galeriaProductos {
    justify-content: center;
  }
}
@media screen and (max-width: 652px) {
  .tituloParticular h2 {
    font-size: 30px;
  }
  footer {
    height: 22rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "footerInfo" "footerRedes";
  }
  footer .footerRedesImagen {
    width: 2px;
  }
  .contenedorContacto .cuadroMail .tituloConsultas {
    font-size: 25px;
  }
}

/*# sourceMappingURL=estilo.css.map */
