* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: #e8e1d0;
}

/*=========================== BOTON AYUDA ===========================*/
.botonAyuda {
    position: fixed;
    bottom: 0;
    right: 0;

    .fotoBotonAyuda {
        transition: 0.5s;

        &:hover {
            width: 115px;
        }
    }
}

/*=========================== 404 ===========================*/
.main404{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5%;

    .info404{
        
    }
}
