* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: #e8e1d0;
}

/*=========================== BOTON AYUDA ===========================*/
.botonAyuda {
    position: fixed;
    bottom: 0;
    right: 0;

    .fotoBotonAyuda {
        transition: 0.5s;

        &:hover {
            width: 115px;
        }
    }
}

/*=========================== 404 ===========================*/
.body404{
    background-color: rgb(156, 184, 187, 255);

    .main404{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100vh;
        
        .info404{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 5%;
    
            .infoTexto{
                font-family: 'Lilita One', cursive;
            }
    
            .infoBoton{
                align-self: flex-end;
                font-family:Georgia, roboto-regular;
                & a{
                    & button{
                        padding: 1rem;
                        background-color: whitesmoke;
                        color: black;
                        border-radius: 1rem;
                        transition: linear 0.2s;
                        & span{
                            display: none;
                            padding-right: 1rem;
                        }
                        &:hover{
                            padding-left: 1.5rem;
                        }
                        &:hover > span{
                            display: inline;
                        }
                    }
                }
            }
    
        }
    
        .imagen404{
            width: 100%;    
            .imagen404error{
                width: 100%;
            }
        }
    }
}

