/*=========================== MEDIA QUERIE ===========================*/
@media screen and (min-width: 992px) {
    .header__navbar {
        height: 70px;
    }
}

@media screen and (max-width:1000px) {
    .contenedorContacto {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "cuadroMail"
            "preguntasFrecuentes"
            "aclaraciones"
            "footer"
        ;

        .tituloConsultas {
            font-size: 25px;
        }

        .preguntasFrecuentes {
            margin: 1rem;
            height: auto;
        }

        .aclaraciones {
            margin: 1rem;
            height: auto;
        }
    }
}

@media screen and (max-width:768px) {
    .tituloPromos {
        font-size: 20px;
    }

    .galeriaPromos{
        .galeriaPromosHijos{
            min-width: 220px;
            .imagenHijos{
                width: 200px;
            }
        }
    }

    .mostradorPrincipal {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "mostradorFotoCocina"
            "mostradorFotoVasos"
            "mostradorFotoBotellas"
            "mostradorFotoDecoracion"
            "mostradorFotoLibreria"
            "mostradorFotoInfantil"
            "mostradorFotoMate"
        ;


        .mostradorFotoCocina {
            grid-area: mostradorFotoCocina;
        }

        .mostradorFotoVasos {
            grid-area: mostradorFotoVasos;
        }

        .mostradorFotoBotellas {
            grid-area: mostradorFotoBotellas;
        }

        .mostradorFotoDecoracion {
            grid-area: mostradorFotoDecoracion;
        }

        .mostradorFotoLibreria {
            grid-area: mostradorFotoLibreria;
        }

        .mostradorFotoInfantil {
            grid-area: mostradorFotoInfantil;
        }

        .mostradorFotoMate {
            grid-area: mostradorFotoMate;
        }
    }

    .footerLogo {
        width: 80px;
    }
}

@media screen and (max-width: 652px) {

    .tituloParticular {
        h2 {
            font-size: 30px;
        }
    }

    footer {
        height: 22rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "footerInfo"
            "footerRedes"
        ;

        .footerInfoLetra {
            /*nada de esto se aplica y no entiendo por que*/
            font-size: 10%;
        }

        .footerInfoCopyright {
            font-size: 5px;
        }

        .footerRedesImagen {
            width: 2px;
        }
    }
}